*presentation.pdf
todo.txt
presentation.sh
presentation.stdout
presentation.stderr
*.include

*~
.DS_Store
*.aux
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.log
*.toc
*-skim.pdf

*.rej
*.orig
.*.sw?
.sw?
.vagrant/

x1
x1.*
*.pyc
*.aux
*.bbl
*.blg
*.dvi
*.synctex.gz
*.log
*.o
*.so
*.so.dSYM
*.dylib
Thumbs.db
*.orig
*.rej
tmp/
.kitchen/
binstubs/
.gradle/
!.gradle/init.d

notes.txt
Makefile.local

.idea/
*.ipr
*.iws
.rakeTasks
.generators

.hg/
